.day-separator {
    display:flex;
    align-items: center;
    margin:28px 0 18px;
}

.day-separator::before{
    content:"";
    height: 0.1rem;
    flex: 0.1;
    background:#46464690;
}

.day-separator::after{
    content:"";
    height: 0.1rem;
    flex: 1;
    background:#46464690;
}

.day-separator span{
    padding:6px 18px;
    margin:0 14px;
    border-radius:999px;
    background:linear-gradient(90deg, #31518b, #436bb0);
    font-weight:600;
    color:#f7f1f1;
    align-self: flex-start;
}